{{define "subtask_name"}}
<span id="subtask-name-{{.ID}}" class="item-name" {{if .OOB}} hx-swap-oob="true" {{end}}>{{.Name}}</span>
{{end}}

{{define "subtask_private_icon"}}
{{if or (not .Public) (not .ParentPublic)}}<span class="private-indicator"><svg class="private-icon" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" title="Private"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg></span>{{end}}
{{end}}

{{define "subtask_percent"}}
<span id="subtask-percent-{{.ID}}" class="item-percent" {{if .OOB}} hx-swap-oob="true" {{end}} >{{.Completion}}%</span>
{{end}}

{{define "subtask_progress_fill"}}
<div id="subtask-progress-fill-{{.ID}}" class="progress-fill" style="width: {{.Completion}}%" {{if .OOB}}hx-swap-oob="true"{{end}}></div>
{{end}}

<li class="row subtask" id="subtask-{{.ID}}" data-id="{{.ID}}" {{if .OOB}} hx-swap-oob="true" {{end}}>
    {{if .IsAuthenticated}}
    <!-- Drag handle -->
    <div class="drag-handle hover-reveal">
        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="9" cy="12" r="1" />
            <circle cx="9" cy="5" r="1" />
            <circle cx="9" cy="19" r="1" />
            <circle cx="15" cy="12" r="1" />
            <circle cx="15" cy="5" r="1" />
            <circle cx="15" cy="19" r="1" />
        </svg>
    </div>
    {{end}}

    <div class="row-content" hx-get="/subtasks/{{.ID}}/details" hx-target="#slideover-container" hx-swap="innerHTML">
        {{template "subtask_name" .}}
        {{template "subtask_private_icon" .}}
        <span class="item-spacer"></span>
        <div class="progress-bar">{{template "subtask_progress_fill" .}}</div>
        {{template "subtask_percent" .}}
        <svg class="row-content-arrow" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
    </div>
</li>